* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: black;
    color: rgb(123, 190, 21);
    text-shadow: 0 0 10px rgb(123, 190, 21);
    height: 100vh;
    margin: 10%;
}

span {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {opacity: 0;}
}